<h2>トレーナー新規登録</h2>

<%= form_with scope: :trainer, model: Trainer.new, url: "/trainers", id: 'new_user', class: 'new_user', local: true do |f| %>


   <p class="col-sm-3">名前</p>
   <p class="col-sm-1 text-right">(姓)</p>
   <div class="field col-sm-4">
    <%= f.text_field :last_name, autofocus: true, placeholder: "令和" %>
  </div>

    <p class="col-sm-1 text-right">(名)</p>

   <div class="field col-sm-3">
    <%= f.text_field :first_name, autofocus: true, placeholder: "道子" %>
  </div>

  <p class="col-sm-1 text-right">(セイ)</p>
   <div class="field col-sm-4">
    <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ" %>
  </div>

    <p class="col-sm-1 text-right">(メイ)</p>

   <div class="field col-sm-3">
    <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ" %>
  </div>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

